scripts/rhumba/metadata/dtds/editor.dtd

<!ELEMENT cheshireEditor - - (cheshireUser, cheshirePassword, cheshireFlags, cheshireRealName, cheshireEmail, cheshireHostMask, cheshireInfo)>
<!ELEMENT cheshireFlags - - (cheshireFlag+)>
<!ELEMENT (cheshireUser|cheshirePassword|cheshireFlag|cheshireRealName|cheshireEmail|cheshireHostMask|cheshireInfo) - - (#PCDATA)>

