doc/install/TREC.FT.DTD

<!SGML  "ISO 8879:1986"
--
--

CHARSET
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0   9   UNUSED
                  9   2   9
                  11  2   UNUSED
                  13  1   13
                  14  18  UNUSED
                  32  95  32
                  127 1   UNUSED
     BASESET   "ISO Registration Number 100//CHARSET
                ECMA-94 Right Part of Latin Alphabet Nr. 1//ESC 2/13 4/1"
     DESCSET   128 32 UNUSED
               160 95 32
               255  1 UNUSED


CAPACITY        SGMLREF
                TOTALCAP        150000
                GRPCAP          150000
  
SCOPE    DOCUMENT
SYNTAX   
         SHUNCHAR CONTROLS 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
                           19 20 21 22 23 24 25 26 27 28 29 30 31 127 255
         BASESET  "ISO 646:1983//CHARSET
                   International Reference Version (IRV)//ESC 2/5 4/0"
         DESCSET  0 128 0
         FUNCTION RE          13
                  RS          10
                  SPACE       32
                  TAB SEPCHAR  9
         NAMING   LCNMSTRT ""
                  UCNMSTRT ""
                  LCNMCHAR ".-"
                  UCNMCHAR ".-"
                  NAMECASE GENERAL YES
                           ENTITY  NO
         DELIM    GENERAL  SGMLREF
                  SHORTREF SGMLREF
         NAMES    SGMLREF
         QUANTITY SGMLREF
                  NAMELEN  34
                  TAGLVL   100
                  LITLEN   1024
                  GRPGTCNT 150
                  GRPCNT   64                   

FEATURES
  MINIMIZE
    DATATAG  NO
    OMITTAG  YES
    RANK     NO
    SHORTTAG NO
  LINK
    SIMPLE   NO
    IMPLICIT NO
    EXPLICIT NO
  OTHER
    CONCUR   NO
    SUBDOC   NO
    FORMAL   YES
  APPINFO    NONE
>

<!DOCTYPE FT931 [

<!--   SGML DESCRIPTIONS         -->
<!--   +     Required and repeatable element -->
<!--   ?     Optional element                -->
<!--   *     Optional and repeatable element -->
<!--   ,     elements must follow in this order  -->
<!--   |     "or" connector (pick one element)   -->
<!--   &     "and" connector (all must occur in any order)   -->

<!-- QUANTITY FT931REF -->
<!--    NAMELEN 32 -->

<!--       ELEMENT  MIN  CONTENT -->
<!-- These are doc, docno, text, etc -->
<!--       ELEMENT     NAME     CONTENT  DEFAULT -->
<!ELEMENT  DOC          - -  (DOCNO & (DATE* | PROFILE* | HEADLINE* | BYLINE* | TEXT+ | DATELINE* | XX* | CO* | CN* | IN* | TP* | PE* | PUB* | PAGE* )* )> 
<!ELEMENT  XX           - -  (#PCDATA)+       >   
<!ELEMENT  CO           - -  (#PCDATA)+       >   
<!ELEMENT  CN           - -  (#PCDATA)+       >   
<!ELEMENT  IN           - -  (#PCDATA)+       >   
<!ELEMENT  TP           - -  (#PCDATA)+       >   
<!ELEMENT  PE           - -  (#PCDATA)+       >   
<!ELEMENT  DATE         - -  (#PCDATA)+       >   
<!ELEMENT  PUB          - -  (#PCDATA)+       >   
<!ELEMENT  DOCNO        - -  (#PCDATA)+       >
<!ELEMENT  PAGE         - -  (#PCDATA)+       >
<!ELEMENT  TEXT         - -  (#PCDATA)+       >
<!ELEMENT  BYLINE       - -  (#PCDATA)+       >
<!ELEMENT  DATELINE     - -  (#PCDATA)+       >
<!ELEMENT  HEADLINE     - -  (#PCDATA)+       >
<!ELEMENT  PROFILE      - -  (#PCDATA)+       >

<!-- This changes the symbols back to what they should be -->
<!-- Only need ampersand, less than, and more than -->
<!-- Leave the default system in there -->

<!ENTITY   amp      "&" >
<!ENTITY   gt       ">" >
<!ENTITY   lt       "<" >
<!ENTITY #DEFAULT SYSTEM >

]>
